.games {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  max-width: 60vw;
  min-width: 300px;
  justify-items: center;
}
.game-item {
  padding-top: 10px;
}
